
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flight Checker</title>
    <link href="{{url_for('static',filename='css/style.css')}}?v=17" rel="stylesheet" type="text/css" />
  </head>
  <body id="home">
    <div class="title"><h1>Flight Checker</h1></div>
    <div class="container home-box">
        <button id='add' onclick="window.location.href='{{url_for('add')}}'">Add</button>
        <div class="secondary">
          <button id='edit' onclick="window.location.href='{{url_for('edit')}}'">Edit</button>
          <button id='delete' onclick="window.location.href='{{url_for('delete')}}'">Delete</button>
    </div>

    </div>
    </form>
  </body>
</html>
