<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>
<h1 class="title"> SUCCESSFUL SUBMISSION</h1>
<!--<h3 class="secondary"> Check your email for a confirmation with all your information. (spam folder)</h3>-->
<h3 class="secondary"> When we find a deal that matches your requirements we will email you! (check spam) </h3>
<a class="home-button" onclick="window.location.href='{{url_for('home')}}'">Home</a>

</body>
</html>